/*****************************
GLOBAL
*****************************/
/* * {
	outline: 1px solid #000 !important;
} */

body {
	font-family: "Courier New", Courier, monospace;
}

a {
	text-decoration: none !important;
}

body.dark-mode::-webkit-scrollbar {
	width: 15px;
}
body.dark-mode::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
body.dark-mode::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background: #00cc00;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
body.dark-mode::-webkit-scrollbar-thumb:window-inactive {
	background: #00cc00;
}
body.dark-mode::-webkit-scrollbar-button {
	background-color: #00cc00;
}

.privacy-options {
	left: 70px;
}

/*****************************
SHORTS/STORIES
*****************************/
.single-story {
	width: 110px;
	height: 175px;
}

.single-story img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/*****************************
ACCORDION
*****************************/
.accordion-button {
	border-radius: 0px !important;
}

/*****************************
PROFILE PICTURES
*****************************/
.profile-pictures {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.profile-pictures article {
	box-sizing: border-box;
	overflow: hidden;
	flex-basis: 0px;
	position: relative;
	flex-grow: 1;
	min-width: 168px;
	padding: 4px;
}

.profile-pictures img {
	object-fit: cover;
	width: 100%;
	border-radius: 8px;
	box-sizing: border-box;
	height: 100%;
}

/*****************************
BODY-DARK
*****************************/
body.light-mode {
	background-color: #fff;
}

body.dark-mode {
	background-color: #222;
	color: #00cc00;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode a,
body.dark-mode p,
body.dark-mode .card-header,
body.dark-mode .btn-secondary {
	text-shadow: 0 0 20px #00cc00;
}

body.dark-mode > span.badge.bg-secondary.rounded-pill {
	background-color: #00cc00 !important;
}

body.dark-mode .card {
	background-color: transparent;
}

body.dark-mode .modal-content,
body.dark-mode .btn-dark,
body.dark-mode .card-body {
	background-color: #222;
}

body.dark-mode .bg-secondary {
	background-color: transparent !important;
}

body.dark-mode .btn-secondary {
	color: #00cc00;
	background-color: transparent;
}

body.dark-mode a,
body.dark-mode p,
body.dark-mode .btn-link,
body.dark-mode .bg-secondary {
	color: #00cc00;
}

body.dark-mode .badge {
	background-color: #00cc00;
}

body.dark-mode a:hover,
body.dark-mode .btn-link:hover,
body.dark-mode .btn-secondary:hover {
	color: #00ff00;
}

body.dark-mode .form-jumbotron {
	background-color: #212529;
}

body.dark-mode footer {
	background-color: #212529;
}

body.dark-mode .list-group-item {
	background-color: #212529;
}

body.dark-mode .accordion-button {
	background-color: #212529;
	color: #00cc00;
}

body.dark-mode .accordion-body {
	background-color: #222222;
	color: #00cc00;
}
