/*****************************
GLOBAL
*****************************/
/* * {
	outline: 1px solid #000 !important;
} */

body {
	font-family: "Courier New", Courier, monospace;
}

a {
	text-decoration: none !important;
}

.privacy-options {
	left: 70px;
}

#waveform > wave {
	overflow: unset !important;
	cursor: pointer !important;
}

p > img {
	width: 100%;
}

/*****************************
SHORTS/STORIES
*****************************/
.single-story {
	width: 110px;
	height: 175px;
}

.single-story img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/*****************************
ACCORDION
*****************************/
.accordion-button {
	border-radius: 0px !important;
}

/*****************************
PROFILE PICTURES
*****************************/
.profile-pictures {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.profile-pictures article {
	box-sizing: border-box;
	overflow: hidden;
	flex-basis: 0px;
	position: relative;
	flex-grow: 1;
	min-width: 168px;
	padding: 4px;
}

.profile-pictures img {
	object-fit: cover;
	width: 100%;
	border-radius: 8px;
	box-sizing: border-box;
	height: 100%;
}

/*****************************
PREVIEWER
*****************************/
.facebook-preview-container {
	width: 524px;
	font-family: Helvetica;
	cursor: pointer;
	max-width: 100%;
}

.facebook-preview-info-container {
	padding: 10px 12px;
	background-color: #f2f3f5;
}

.facebook-preview-info-domain {
	line-height: 12px;
	text-transform: uppercase;
	font-size: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.facebook-preview-info-title-description-container {
	border-spacing: 0px;
	text-align: left;
	overflow-wrap: break-word;
	overflow: hidden;
	user-select: none;
	border-collapse: separate;
	max-height: 46px;
	height: 46px;
}

.facebook-preview-info-title {
	line-height: 20px;
	font-weight: 600;
	font-size: 16px;
	padding-top: 2px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-top: 3px;
}

.facebook-preview-info-description {
	border-spacing: 0px;
	line-height: 20px;
	font-size: 14px;
	text-align: left;
	overflow-wrap: break-word;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border-collapse: separate;
	max-height: 80px;
	height: 18px;
	margin-top: 3px;
	display: block;
}

.twitter-preview-container {
	width: 438px;
	--tw-text-opacity: 1;
	color: rgb(0 0 0);
	line-height: 1.3em;
	--tw-border-opacity: 1;
	border-color: rgb(225 232 237);
	border-width: 1px;
	border-radius: 0.85714em;
	overflow: hidden;
	cursor: pointer;
	max-width: 100%;
}

.twitter-preview-info-container {
	overflow-wrap: break-word;
	border: 1px solid #dadde1;
	padding: 0.75em;
	-webkit-font-smoothing: antialiased;
	border-bottom-right-radius: 0.85714em;
	border-bottom-left-radius: 0.85714em;
}

.twitter-preview-info-domain {
	margin-top: 0.32333em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	text-transform: lowercase;
	line-height: 18px;
	color: #8899a6;
}

.twitter-preview-info-title-description-container {
	border-spacing: 0px;
	text-align: left;
	overflow-wrap: break-word;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border-collapse: separate;
	display: block;
}

.twitter-preview-info-title {
	line-height: 18px;
	font-weight: 600;
	font-size: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 0.15em;
	margin: 0;
}

.twitter-preview-info-description {
	-webkit-line-clamp: 1;
	border-spacing: 0px;
	-webkit-box-orient: vertical;
	line-height: 18px;
	font-size: 14px;
	text-align: left;
	overflow-wrap: break-word;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border-collapse: separate;
	max-height: 2.6em;
	display: block;
	margin-top: 0.32333em;
}

.linkedin-preview-container {
	width: 520px;
	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -2px rgba(0, 0, 0, 0.1);
	--tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
		0 2px 4px -2px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	font-family: Helvetica;
	border-radius: 2px;
	overflow: hidden;
	cursor: pointer;
	max-width: 100%;
}

.linkedin-preview-info-container {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 10px;
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255);
	overflow-wrap: break-word;
}

.linkedin-preview-info-domain {
	color: #0009;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 1rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.linkedin-preview-info-title-description-container {
	border-spacing: 0px;
	text-align: left;
	overflow-wrap: break-word;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border-collapse: separate;
	max-height: 50px;
	height: auto;
	display: block;
}

.linkedin-preview-info-title {
	color: #000000e6;
	line-height: 24px;
	font-weight: 600;
	font-size: 16px;
	padding-bottom: 2px;
}

.discord-preview-container {
	width: 432px;
	font-family: Helvetica;
	background-color: rgb(47 49 54);
	border-color: rgb(32 34 37);
	border-left-width: 4px;
	border-radius: 4px;
	overflow: hidden;
	justify-self: start !important;
	align-items: flex-start;
	cursor: pointer;
	max-width: 100%;
	display: grid;
}

.discord-preview-info-container {
	padding-bottom: 1rem;
	padding-top: 0.5rem;
	padding-right: 1rem;
	padding-left: 0.75rem;
	overflow: hidden;
	grid-template-rows: auto;
	grid-template-columns: auto;
	display: inline-grid;
}

.discord-preview-info-domain {
	grid-column: 1 / 1;
	--tw-text-opacity: 1;
	color: rgb(255 255 255);
	line-height: 1rem;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 1rem;
	margin-top: 0.5rem;
}

.discord-preview-info-title {
	grid-column: 1 / 1;
	--tw-text-opacity: 1;
	color: rgb(0 176 244);
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.5rem;
	overflow-wrap: break-word;
	display: inline-block;
	margin-top: 0.5rem;
}

.discord-preview-info-description {
	grid-column: 1 / 1;
	--tw-text-opacity: 1;
	color: rgb(220 221 222);
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.25rem;
	padding: 0;
	border-width: 0;
	overflow-wrap: break-word;
	white-space: pre-line;
	margin-top: 0.5rem;
}

/*****************************
WAVEFORM
*****************************/
#waveform {
	cursor: pointer;
	position: relative;
}
#waveform-hover {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	pointer-events: none;
	height: 100%;
	width: 0;
	mix-blend-mode: overlay;
	background: #ff0000;
	opacity: 0;
	transition: opacity 0.2s ease;
}
#waveform:hover #waveform-hover {
	opacity: 1;
}
#waveform-time,
#waveform-duration {
	position: absolute;
	z-index: 11;
	top: 50%;
	margin-top: -1px;
	transform: translateY(-50%);
	font-size: 11px;
	background: rgba(0, 0, 0, 0.75);
	padding: 2px;
	color: #ddd;
}
#waveform-time {
	left: 0;
}
#waveform-duration {
	right: 0;
}
/*****************************
ERROR COMPONENT
*****************************/
.error-container {
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
}
/*****************************
BODY-DARK
*****************************/
body.light-mode {
	background-color: #fff;
}

body.dark-mode {
	background-color: #222;
	color: #00cc00;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode a,
body.dark-mode p,
body.dark-mode .card-header,
body.dark-mode .btn-secondary {
	text-shadow: 0 0 20px #00cc00;
}

body.dark-mode > span.badge.bg-secondary.rounded-pill {
	background-color: #00cc00 !important;
}

body.dark-mode .card {
	background-color: transparent;
}

body.dark-mode .modal-content,
body.dark-mode .btn-dark,
body.dark-mode .card-body {
	background-color: #222;
}

body.dark-mode .bg-secondary {
	background-color: transparent !important;
}

body.dark-mode .btn-secondary {
	color: #00cc00;
	background-color: transparent;
}

body.dark-mode a,
body.dark-mode p,
body.dark-mode .btn-link,
body.dark-mode .bg-secondary {
	color: #00cc00;
}

body.dark-mode .badge {
	background-color: #00cc00;
}

body.dark-mode a:hover,
body.dark-mode .btn-link:hover,
body.dark-mode .btn-secondary:hover {
	color: #00ff00;
}

body.dark-mode .form-jumbotron {
	background-color: #212529;
}

body.dark-mode footer {
	background-color: #212529;
}

body.dark-mode .list-group-item {
	background-color: #212529;
}

body.dark-mode .accordion-button {
	background-color: #212529;
	color: #00cc00;
}

body.dark-mode .accordion-body {
	background-color: #222222;
	color: #00cc00;
}

body.dark-mode::-webkit-scrollbar {
	width: 15px;
}
body.dark-mode::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
body.dark-mode::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background: #00cc00;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
body.dark-mode::-webkit-scrollbar-thumb:window-inactive {
	background: #00cc00;
}
body.dark-mode::-webkit-scrollbar-button {
	background-color: #00cc00;
}
